{% extends '::base.html.twig' %}
{% block javascript  %}
   {{ parent() }}
{% endblock %}

{% block contenu %}
{{ parent() }}
<div class="container-fluid page-container">
    <div class="row">
        <div class="col-lg-3 col-sm-12 col-lg-offset-1 ">
            <div class="row">
                <div class="col-sm-12 content-tab"><h3>Le secteur</h3> 
            <ul class="stream-items-id nav nav-list">
                <li><strong>Nom du secteur : </strong>{{secteur.getNom()}}</li>
                <li><strong>Nombre d'individu : </strong>{{secteur.getNombreIndividu()}}</li>
            </ul></div>
                <div class="col-sm-12 content-tab"> 
                <div class="content-header"><h3>Exporter l'article</h3></div>
                <ul class="stream-items-id nav nav-pills">
                    <li><a href="{{ path('csvSecteurArticleTH',{'id': secteur.getId()}) }}">
                            <img class="img-csv" src="{{ asset('bundles/fiscalitegestionfiscalite/images/ods.png') }}" alt="CSV" /> 
                        </a>
                    </li>        
                </ul>
            </div>         
            </div>
            
        </div>
        <div class="content-tab col-sm-12 col-lg-6 col-lg-offset-1">
            <div class="content-header"><h3>Les articles concernés</h3></div> 
            <table  class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th class="text-center">Nom, prénom</th><th class="text-center">Adresse</th>
                    </tr>
                </thead>
                <tbody>
                                    {% for articleTH in article %}

                    <tr>
                        <td class="text-center"><a href="{{ path('articleTH',{'id': articleTH.getNumerosequentiel()}) }}">{{articleTH.getNomprenom() ~ articleTH.getSuitenom()}}</a></td>
                        <td class="text-center">{{articleTH.adresse.numeroimmeubleaft 
                                            ~" "~articleTH.adresse.libellevoieaft}}</td>
                    </tr>
                                        {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{{ parent() }}
{% endblock %}