{% extends '::base.html.twig' %}
{% block contenu %}
<div class="container-fluid base">
    <div class="row">
        <div class="col-sm-12 col-md-12  col-lg-12"> 
            <div class="row">
                <div class="col-sm-12 col-md-12  col-lg-7 col-lg-offset-3">
                    <div class="sidebar-article col-sm-12 col-md-12  col-lg-12">
                        <form  class="form-horizontal" method="post" {{ form_enctype(form) }}>
                            <fieldset>
                                <legend>Créer un secteur</legend>
                                <div class="form-group ">
                                    {# Génération du label. #}
                                    {{ form_label(form.nom, "Nom de secteur : ",{ 'label_attr': { 'class': 'col-sm-6' } }) }}
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                    {# Affichage des erreurs pour ce champ précis. #}
                                    {{ form_errors(form.nom) }}
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.nom) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {# Génération du label. #}
                                    {{ form_label(form.typerue, "Adresse : ",{ 'label_attr': { 'class': 'col-sm-6' } }) }}
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                    {# Affichage des erreurs pour ce champ précis. #}
                                    {{ form_errors(form.typerue) }}
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.typerue, { 'attr' : {'size' : form.typerue.vars.attr.size is defined ? form.typerue.vars.attr.size : 15 } })}}
                                    </div>
                                </div>
                                <div class="form-group"> 
                                    <div id="map-canvas" class="col-sm-12 col-md-12 col-lg-10 col-sm-offset-1 stream-map" style="height: 500px"></div> 
                                </div>
                                <div class="form-group"> 
                                       {{ form_errors(form) }}
                                       {{ form_widget(form._token) }}
                                </div>        
                                <div class="form-group">  
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <button class="btn btn-primary col-sm-offset-7" type="submit">Enregistrer</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>                      
    </div>                            
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>

<script type="text/javascript">

                                        function sleep(milliseconds) {
                                            var start = new Date().getTime();
                                            for (var i = 0; i < 1e7; i++) {
                                                if ((new Date().getTime() - start) > milliseconds) {
                                                    break;
                                                }
                                            }
                                        }
                                        var bool = false;
                                        var lat, lng;
                                        var poly, map;
                                        var markers = [];
                                        var path = new google.maps.MVCArray;

                                        function initialize() {

                                            var geocoder = new google.maps.Geocoder();
                                            var request = {
                                                address: '1 place charles de gaulle voreppe',
                                                region: 'fr', //pour améliorer la qualité des résultats en précisant que l'on cherche principalement en France
                                                language: 'fr'
                                            };
                                            geocoder.geocode(request, function(results, status) {
                                                if (status === google.maps.GeocoderStatus.OK) {
                                                    var lat = results[0].geometry.location.lat();
                                                    var lng = results[0].geometry.location.lng();
                                                    var fenway = new google.maps.LatLng(lat, lng);
                                                    var mapOptions = {
                                                        center: fenway,
                                                        zoom: 15,
                                                    };
                                                    map = new google.maps.Map(
                                                            document.getElementById('map-canvas'), mapOptions);
                                                    map.setCenter(fenway);
                                                    var marker = new google.maps.Marker({
                                                        position: fenway,
                                                        map: map,
                                                        icon: {
                                                            path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
                                                            strokeColor: "blue",
                                                            scale: 3
                                                        },
                                                    });
                                                    poly = new google.maps.Polygon({
                                                        strokeWeight: 3,
                                                        fillColor: '#5555FF'
                                                    });
                                                    poly.setMap(map);
                                                    poly.setPaths(new google.maps.MVCArray([path]));
                                                    google.maps.event.addListener(map, 'click', addPoint);
                                                } else {
                                                    alert("Impossible de trouver l'adresse via Google Maps.");
                                                }
                                            });

                                            var oLatLng;
                                            var successId;
                                            $("#fiscalite_typerue option").each(function() {
                                                var val = $(this).val();
                                                $.ajax({
                                                    type: 'GET',
                                                    data: {'id': val},
                                                    dataType: 'json',
                                                    url: "{{ path('fiscalite_getlatlng') }}",
                                                    success: function(data) {
                                                        successId = data['id'];
                                                        oLatLng = new google.maps.LatLng(data['lat'], data['lng']);
                                                        var mark = new google.maps.Marker({
                                                            map: map,
                                                            zoom: 15,
                                                            position: oLatLng,
                                                            title: data['libelle']
                                                        });
                                                        //console.log(mark);
                                                        mark.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
                                                        bool = google.maps.geometry.poly.containsLocation(oLatLng, poly);
                                                        if (bool) {
                                                            if (val === successId) {
                                                                $(this).attr('selected', true);
                                                                console.log("val :" + val + " <=> id : " + successId + "bool : " + bool);
                                                            }
                                                        }
                                                    }
                                                });


                                            });
                                        }
                                        function addPoint(event) {
                                            var oLatLng;
                                            var successId;
                                            $("#fiscalite_typerue option").each(function() {
                                                var val = $(this).val();
                                                var option = $(this);
                                                $.ajax({
                                                    type: 'GET',
                                                    data: {'id': val},
                                                    dataType: 'json',
                                                    url: "{{ path('fiscalite_getlatlng') }}",
                                                    success: function(data) {
                                                        successId = data['id'];
                                                        oLatLng = new google.maps.LatLng(data['lat'], data['lng']);
                                                        {#var mark = new google.maps.Marker({
                                                            map: map,
                                                            zoom: 15,
                                                            position: oLatLng,
                                                            title: data['libelle']
                                                        });
                                                        //console.log(mark);
                                                        mark.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');#}
                                                        bool = google.maps.geometry.poly.containsLocation(oLatLng, poly);
                                                        if (bool) {
                                                            if (val === successId) {
                                                                option.attr('selected', true);
                                                                //console.log("val :" + val + " <=> id : " + successId + "bool : " + bool);
                                                            }
                                                        } else {
                                                            option.attr('selected', false);

                                                        }
                                                    }
                                                });


                                            });
                                            path.insertAt(path.length, event.latLng);
                                            var marker = new google.maps.Marker({
                                                position: event.latLng,
                                                map: map,
                                                draggable: true,
                                            });
                                            markers.push(marker);
                                            marker.setTitle("#" + path.length);
                                            google.maps.event.addListener(marker, 'click', function() {
                                                marker.setMap(null);
                                                for (var i = 0, I = markers.length; i < I && markers[i] != marker; ++i)
                                                    ;
                                                markers.splice(i, 1);
                                                path.removeAt(i);

                                            });
                                            google.maps.event.addListener(marker, 'dragend', function() {
                                                for (var i = 0, I = markers.length; i < I && markers[i] != marker; ++i)
                                                    ;
                                                path.setAt(i, marker.getPosition());
                                            });

                                            //for (var i = 0; i < 10; i++) {



                                            //sleep(1000);


                                               {# var geocoder = new google.maps.Geocoder();
                                                var request = {
                                                    address: val,
                                                    region: 'fr'
                                                };
                                                geocoder.geocode(request, function(results, status) {
                                                    console.log("Request : " + request['address']);
                                                    var statusgeo = google.maps.GeocoderStatus.OK;
                                                    if (status === statusgeo) {
                                                        var lat = results[0].geometry.location.lat();
                                                        var lng = results[0].geometry.location.lng();
                                                        var oLatLng = new google.maps.LatLng(lat, lng);
                                                        console.log(lat + " " + lng + " " + val);
                                                        var mark = new google.maps.Marker({
                                                            map: map,
                                                            zoom: 15,
                                                            position: oLatLng,
                                                            title: val,
                                                        });
                                                        mark.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png')
                                                        var bool = new google.maps.geometry.poly.containsLocation(oLatLng, poly);
                                                        if (bool) {
                                                            console.log("TROUVE : " + val);
                                                        } else {
                                                            console.log("pas dans le poly");
                                                        }
                                                    } else {
                                                        console.log("erreur");
                                                    }
                                                });#}
                                            // }
                                        }
                                        google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}
{% block footer %}
{% endblock %}