{% extends '::base.html.twig' %}
{% block contenu %}
{% block javascript2  %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript">
    function initialize() {
        var geocoder = new google.maps.Geocoder();
        var request = {
            address: '{{articleTH.adresse.numeroimmeubleaft~" "~articleTH.adresse.libellevoieaft ~" "~ articleTH.getFichier().getCommune().getLibelle()}}',
            region: 'fr', //pour améliorer la qualité des résultats en précisant que l'on cherche principalement en France
            language: 'fr'
        };
        geocoder.geocode(request, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var lat = results[0].geometry.location.lat();
                var lng = results[0].geometry.location.lng();

                var str = "http://maps.googleapis.com/maps/api/staticmap?center=" + lat + "," + lng + "&zoom=16&size=1280x720&maptype=roadmap\&markers=" + lat + "," + lng + "&sensor=false";
                var str1 = "http://maps.googleapis.com/maps/api/streetview?location=" + lat + "," + lng + "&zoom=20&size=1280x720&pitch=10&sensor=false";
                var fenway = new google.maps.LatLng(lat, lng);
                var image = document.getElementById('screenshot').href = str;
                var image2 = document.getElementById('screenshotstreetview').href = str1;

                var mapOptions = {
                    center: fenway,
                    zoom: 20,
                    mapTypeId: google.maps.MapTypeId.HYBRID
                };
                var map = new google.maps.Map(
                        document.getElementById('map-canvas'), mapOptions);

                map.setCenter(fenway);
                new google.maps.Marker({
                    position: fenway,
                    map: map
                });


                var panoramaOptions = {
                    position: fenway,
                    pov: {
                        heading: 34,
                        pitch: 10
                    }
                };
                var panorama = new google.maps.StreetViewPanorama(document.getElementById("pano"), panoramaOptions);
                map.setStreetView(panorama);
            } else {
                alert("Unable to find address: " + status);
            }
        });

    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<script>
    $(function() {
        $('.nav-tabs a').on('click', function(e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>

{% endblock %}

{% set valeurlocativemoyenneCommune = articleCommune[0].getVlmCne() %}
{% set valeurlocativemoyenneSyndicats = 0 %}
{% set valeurlocativemoyenneInterCommunalite = articleCommune[0].getVlmICO() %}
{% set valeurlocativemoyenneTse = articleCommune[0].getVlmDept()  %}
{% set tauximposition = 16.15/100 %}

{% set tauximpositioncommune = (articleCommune[0].getTauxImpositionCommune()) %}
{% set tauximpositionsyndicat = (articleCommune[0].getTauxImpositionSyndicats()) %}
{% set tauximpositionintercommunalite = (articleCommune[0].getTauxImpositionIntercommunalite()) %}
{% set tauximpositionse = (articleCommune[0].getTauxImpositionTSE()) %}

{% if articleCommuneanneeprecedente!= NULL %}  
    {% set tauximpositioncommuneanneeprecedente = (articleCommuneanneeprecedente[0].getTauxImpositionCommune()) %}
    {% set tauximpositionsyndicatanneeprecedente = (articleCommuneanneeprecedente[0].getTauxImpositionSyndicats()) %}
    {% set tauximpositionintercommunaliteanneeprecedente = (articleCommuneanneeprecedente[0].getTauxImpositionIntercommunalite()) %}
    {% set tauximpositionseanneeprecedente = (articleCommuneanneeprecedente[0].getTauxImpositionTSE()) %} 
    {% if autreArticle != NULL %}  
        {% set cotisationcommuneanneeprecedente = autreArticle[0].getCotisation().getCotisationcommunale() %}
        {% set cotisationsyndicatanneeprecedente = autreArticle[0].getCotisation().getCotisationsyndicats() %}
        {% set cotisationintercommunaliteanneeprecedente = autreArticle[0].getCotisation().getCotisationintercommunalite() %}
        {% set cotisationseanneeprecedente = autreArticle[0].getCotisation().getCotisationtse() %}  
        {% set montantimpotanneeprecedente = autreArticle[0].getMontantnetapayer() %}
        {% set plafonnementselonlerevenuanneeprecedente = autreArticle[0].getCotisation().getMontantdudegrevementouplafonnementeffectif() %}
    {% else %}
        {% set cotisationcommuneanneeprecedente = 0 %}
        {% set cotisationsyndicatanneeprecedente = 0 %}
        {% set cotisationintercommunaliteanneeprecedente = 0 %}
        {% set cotisationseanneeprecedente = 0 %}  
        {% set montantimpotanneeprecedente = 0 %}
        {% set plafonnementselonlerevenuanneeprecedente = 0 %}
    {% endif %}
{% else %}
    {% set tauximpositioncommuneanneeprecedente = 0 %}
    {% set tauximpositionsyndicatanneeprecedente = 0 %}
    {% set tauximpositionintercommunaliteanneeprecedente = 0 %}
    {% set tauximpositionseanneeprecedente = 0 %} 
    {% set cotisationcommuneanneeprecedente = 0 %}
    {% set cotisationsyndicatanneeprecedente = 0 %}
    {% set cotisationintercommunaliteanneeprecedente = 0 %}
    {% set cotisationseanneeprecedente = 0 %}  
    {% set montantimpotanneeprecedente = 0 %}
    {% set plafonnementselonlerevenuanneeprecedente = 0 %}

{% endif %}   
{% set montantimpot = articleTH.getCotisation().getTotaldesCotisationsFraisPrelevements() %}   
{% set montantimpotnet = articleTH.getMontantnetapayer() %}

{% set nbpersonnesacharge = articleTH.getCotisation().getNbpersonnesacharge() %}  

{%set basenettecommunale = articleTH.getBase().getBasenettecommunale() %}
{%set basenettesyndicats = articleTH.getBase().getBasenettesyndicats() %}
{%set basenetteintercommunalite = articleTH.getBase().getBasenetteintercommunalite() %}
{%set basenettetse = articleTH.getBase().getBasenettetse() %}  
{%set totalbasenette = basenettecommunale+basenettesyndicats+basenetteintercommunalite+basenettetse %}  

{%set cotisationcommunale = articleTH.getCotisation().getCotisationcommunale() %}
{%set cotisationsyndicats = articleTH.getCotisation().getCotisationsyndicats() %}
{%set cotisationintercommunalite = articleTH.getCotisation().getCotisationintercommunalite() %}
{%set cotisationtse = articleTH.getCotisation().getCotisationtse() %}  
{%set totalcotisations = articleTH.getCotisation().getTotalcotisationsbrutes() %}  
{%set fraisdegestion = articleTH.getMontantdesfraisderole() %}  
{%set prelevementpourbaseelevee = articleTH.getCotisation().getMontantprelevementsurfortevl() %}  
{%set prelevementsurresidencessecondaires = articleTH.getCotisation().getMontantprelevementde15surths() %}  .
{%set plafonnementselonlerevenu = articleTH.getCotisation().getMontantdudegrevementouplafonnementeffectif() %}  

{% if (articleTH.getCotisation().getVlbruteimposeedeslocauxprincipaux() != NULL or articleTH.getCotisation().getVlbruteimposeedeslocauxprincipaux() != 0) %}  
{% set valeurlocativebrutecommunale = articleTH.getCotisation().getVlbruteimposeedeslocauxprincipaux() %}    
{% set valeurlocativebrutesyndicats = articleTH.getCotisation().getVlbruteimposeedeslocauxprincipaux() %}    
{% set valeurlocativebruteintercommunalite = articleTH.getCotisation().getVlbruteimposeedeslocauxprincipaux() %}    
{% set valeurlocativebrutetse = articleTH.getCotisation().getVlbruteimposeedeslocauxprincipaux() %}  
{% else %}
{% set valeurlocativebrutecommunale = articleTH.getCotisation().getVlimposeedeslocauxsecondaires() %}    
{% set valeurlocativebrutesyndicats = articleTH.getCotisation().getVlimposeedeslocauxsecondaires() %}    
{% set valeurlocativebruteintercommunalite = articleTH.getCotisation().getVlimposeedeslocauxsecondaires() %}    
{% set valeurlocativebrutetse = articleTH.getCotisation().getVlimposeedeslocauxsecondaires() %} 
{% endif %}   
<div class="container-fluid page-container">
    <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-3 col-lg-offset-1 col-sm-offset-1 col-md-offset-1 content-tab">
            <div class="content-header"><h3>Les références</h3></div> 
            <ul class="stream-items-id nav nav-list">
                <li><strong>Numéro séquentiel : </strong>{{articleTH.getNumerosequentiel()}}</li>
                <li><strong>Nom, prénom : </strong>{{articleTH.getNomprenom() ~ articleTH.getSuitenom()}}</li>
                <li><strong>Lieu d'imposition : </strong>{{articleTH.adresse.codevoie ~" "~articleTH.adresse.numeroimmeubleaft ~" "~articleTH.adresse.indicederepetition ~" "~articleTH.adresse.libellevoieaft}}</li>
                <li><strong>Département : </strong>{{articleTH.getFichier().getCommune().getDepartement()}}</li>
                <li><strong>Commune : </strong>{{articleTH.getFichier().getCommune().getLibelle()}}</li>
            </ul>
        </div>
        <div id="map-canvas" class="col-sm-12 col-md-5  col-lg-4 col-md-offset-1 col-lg-offset-0 stream-map content-tab" style="width: 400px; height: 300px"></div> 
        <div id="pano" class="col-sm-12 col-md-5  col-lg-4 col-md-offset-1 col-lg-offset-0 stream-streetview content-tab" style="width: 400px; height: 300px;"></div> 
        <div class="row">
            <div class="col-sm-10 col-md-5 col-lg-4 col-md-offset-1 col-sm-offset-1 col-lg-offset-1 content-tab"> 
                <div class="content-header"><h3>La situation</h3></div>
                <ul class="stream-items-id nav nav-list">
{% if (articleTH.getCotisation().getVlbruteimposeedeslocauxprincipaux() !=  NULL) %}
                    <li><strong> Valeur locative brute imposées des locaux principaux : </strong>{{articleTH.getCotisation().getVlbruteimposeedeslocauxprincipaux()|number_format(0, ',', ' ') ~ ' €'}}</li>
{% else %}
                    <li><strong> Valeur locative brute imposées des locaux secondaires : </strong>{{articleTH.getCotisation().getVlimposeedeslocauxsecondaires()|number_format(0, ',', ' ')~ ' €'}}</li>
{% endif %}
                    <li><strong>Nombre de personnes à charge : </strong>{{nbpersonnesacharge|number_format(0, ',', ' ')}}</li>
                    <li><strong>Montant de votre taxe d'habitation : </strong>{{ montantimpotnet|number_format(0, ',', ' ') ~ ' €'}}</li>
                    <li><strong>Montant total des abattements : </strong>{{articleTH.getAbattementTotal()|number_format(0, ',', ' ')~ ' €'}} </li> 
                </ul>
            </div> 
            <div class="col-sm-10 col-md-5  col-lg-4 col-sm-offset-1 col-lg-offset-0 content-tab"> 
                <div class="content-header "><h3>Exporter l'article</h3></div>
                <ul class="stream-items-id nav nav-pills">
                    <li><a href="{{ path('pdf',{'id': id}) }}" target="_blank">
                            <img class="img-pdf" src="{{ asset('bundles/fiscalitegestionfiscalite/images/pdf.png') }}" alt="PDF" /> 
                        </a>
                    </li>
                    <li><a target="_blank" href="{{ path('csv',{'id': id}) }}">
                            <img class="img-csv" src="{{ asset('bundles/fiscalitegestionfiscalite/images/ods.png') }}" alt="CSV" /> 
                        </a>
                    </li>   
                    <li><a id="screenshot" target="_blank" href="#">
                            <img  class="img-csv"  src="{{ asset('bundles/fiscalitegestionfiscalite/images/screenshot.png') }}" alt="Capture d'écran" /> 
                        </a>
                    </li> 
                    <li><a id="screenshotstreetview" target="_blank" href="#">
                            <img  class="img-csv"  src="{{ asset('bundles/fiscalitegestionfiscalite/images/screenshotstreetview.png') }}" alt="Capture d'écran" /> 
                        </a>
                    </li>     
                </ul>
            </div>         
        </div>  
    </div>
    <div class="row">    
        <div class="content-tab col-sm-11 col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-0">
            <div class="tabbable tabs-top">
                <ul class="nav nav-tabs" id="myTab" data-tabs="tabs">
                    <li class="active"><a href="#taxehabitation" data-toggle="tab">Taxe d'habitation</a></li>
                    <li><a href="#taxefronciere" data-toggle="tab">Taxe foncière</a></li>
                </ul>
                <div class="tab-content">        
                    <div id="taxehabitation" class="tab-pane active">
                        <h3>TAXE D'HABITATION {{articleTH.getFichier().getAnneeTaxation()}} - DETAIL DU CALCUL DES COTISATIONS</h3>
                        <table  class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th>Elements de calcul</th><th>Commune</th><th>Syndicat de communes</th><th>Intercommunalité</th>
                                    <th>Taxe spéciale d'équipement</th><th colspan="2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Valeur locative brute</td>
                                    <td>{% if valeurlocativebrutecommunale!=NULL or valeurlocativebrutecommunale!=0 %}{{valeurlocativebrutecommunale}} €{% endif %}</td>
                                    <td>{% if valeurlocativebrutesyndicats!=NULL or valeurlocativebrutesyndicats!=0 %}{{valeurlocativebrutesyndicats}} €{% endif %}</td>
                                    <td>{% if valeurlocativebruteintercommunalite!=NULL or valeurlocativebruteintercommunalite!=0 %}{{valeurlocativebruteintercommunalite}} €{% endif %}</td>
                                    <td>{% if valeurlocativebrutetse!=NULL or valeurlocativebrutetse!=0 %}{{valeurlocativebrutetse}} €{% endif %}</td>
                                    <td rowspan="16" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td>Valeur locative moyenne</td>
                                    <td>{% if valeurlocativemoyenneCommune!=NULL or valeurlocativemoyenneCommune!=0 %}{{valeurlocativemoyenneCommune}} €{% endif %}</td>
                                    <td>{% if valeurlocativemoyenneSyndicats!=NULL or valeurlocativemoyenneSyndicats!=0 %}{{valeurlocativemoyenneSyndicats}} €{% endif %}</td>
                                    <td>{% if valeurlocativemoyenneInterCommunalite!=NULL or valeurlocativemoyenneInterCommunalite!=0 %}{{valeurlocativemoyenneInterCommunalite}} €{% endif %}</td>
                                    <td>{% if valeurlocativemoyenneTse!=NULL or valeurlocativemoyenneTse!=0 %}{{valeurlocativemoyenneTse}} €{% endif %}</td>                                   
                                </tr>
                                <tr>
                                    <td>Abattements</td><td></td><td></td><td></td><td></td>
                                </tr>   
                                <tr>
                                    <td>Général à la base</td>
                                            {% if articleTH.getAbattement() !=NULL %}
                                    <td>{% if (valeurlocativemoyenneCommune != 0 and articleTH.getAbattement().getAbattementgeneralbasecommunale()!=0)or(valeurlocativemoyenneCommune != NULL and articleTH.getAbattement().getAbattementgeneralbasecommunale()!=NULL) %}{{(articleTH.getAbattement().getAbattementgeneralbasecommunale()*100/valeurlocativemoyenneCommune)|number_format(0)~"%"}}{%endif%}</td>
                                    <td>{% if (valeurlocativemoyenneSyndicats != 0 and articleTH.getAbattement().getAbattementgeneralbasesyndicatstse()!=0)or(valeurlocativemoyenneSyndicats != NULL and articleTH.getAbattement().getAbattementgeneralbasesyndicatstse()!=NULL) %}{{(articleTH.getAbattement().getAbattementgeneralbasesyndicatstse()*100/valeurlocativemoyenneSyndicats)|number_format(0)~"%"}}{%endif%}</td>
                                    <td>{% if (valeurlocativemoyenneInterCommunalite != 0 and articleTH.getAbattement().getAbattementgeneralbaseintercommunalite()!=0)or(valeurlocativemoyenneInterCommunalite != NULL and articleTH.getAbattement().getAbattementgeneralbaseintercommunalite()!=NULL) %}{{(articleTH.getAbattement().getAbattementgeneralbaseintercommunalite()*100/valeurlocativemoyenneInterCommunalite)|number_format(0)~"%"}}{%endif%}</td>
                                    <td>{% if (valeurlocativemoyenneTse != 0 and articleTH.getAbattement().getAbattementgeneralbasesyndicatstse()!=0)or(valeurlocativemoyenneTse != NULL and articleTH.getAbattement().getAbattementgeneralbasesyndicatstse()!=NULL) %}{{(articleTH.getAbattement().getAbattementgeneralbasesyndicatstse()*100/valeurlocativemoyenneTse)|number_format(0)~"%"}}{%endif%}</td>
                                            {% else %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                            {% endif %}
                                </tr>
                                <tr>
                                    <td></td>
                                            {% if articleTH.getAbattement() !=NULL %}
                                    <td>{% if (articleTH.getAbattement().getAbattementgeneralbasecommunale()!=0 )or (articleTH.getAbattement().getAbattementgeneralbasecommunale()!=NULL)%}{{articleTH.getAbattement().getAbattementgeneralbasecommunale()}} €{% endif %}</td>
                                    <td></td>
                                    <td>{% if (articleTH.getAbattement().getAbattementgeneralbaseintercommunalite()!=0 )or (articleTH.getAbattement().getAbattementgeneralbaseintercommunalite()!=NULL)%}{{articleTH.getAbattement().getAbattementgeneralbaseintercommunalite()}} €{% endif %}</td>
                                    <td>{% if (articleTH.getAbattement().getAbattementgeneralbasesyndicatstse()!=0 )or (articleTH.getAbattement().getAbattementgeneralbasesyndicatstse()!=NULL)%}{{articleTH.getAbattement().getAbattementgeneralbasesyndicatstse()}} €{% endif %}</td>
                                            {% else %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                            {% endif %}
                                </tr>
                                <tr>
                                    <td>Personne(s) à charge</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>-Par rang 1 ou 2</td>
                                            {% if articleTH.getAbattement() !=NULL %}
                                    <td>{% if (valeurlocativemoyenneCommune != 0 and articleTH.getAbattement().getAbattementpersonneschargecommunnal()!=0)or(valeurlocativemoyenneCommune != NULL and articleTH.getAbattement().getAbattementpersonneschargecommunnal()!=NULL)%}{{(articleTH.getAbattement().getAbattementpersonneschargecommunnal()*100/valeurlocativemoyenneCommune)|number_format(0)~"%"}}{%endif%}</td>
                                    <td>{% if (valeurlocativemoyenneSyndicats != 0 and articleTH.getAbattement().getAbattementpersonneschargesyndicatstse()!=0)or(valeurlocativemoyenneSyndicats != NULL and articleTH.getAbattement().getAbattementpersonneschargesyndicatstse()!=NULL) %}{{(articleTH.getAbattement().getAbattementpersonneschargesyndicatstse()*100/valeurlocativemoyenneSyndicats)|number_format(0)~"%"}}{%endif%}</td>
                                    <td>{% if (valeurlocativemoyenneInterCommunalite != 0 and articleTH.getAbattement().getAbattementpersonneschargeintercommunalite()!=0)or(valeurlocativemoyenneInterCommunalite != NULL and articleTH.getAbattement().getAbattementpersonneschargeintercommunalite()!=NULL) %}{{(articleTH.getAbattement().getAbattementpersonneschargeintercommunalite()*100/valeurlocativemoyenneInterCommunalite)|number_format(0)~"%"}}{%endif%}</td> 
                                    <td>{% if (valeurlocativemoyenneTse != 0 and articleTH.getAbattement().getAbattementpersonneschargesyndicatstse()!=0)or(valeurlocativemoyenneTse != NULL and articleTH.getAbattement().getAbattementpersonneschargesyndicatstse()!=NULL) %}{{(articleTH.getAbattement().getAbattementpersonneschargesyndicatstse()*100/valeurlocativemoyenneTse)|number_format(0)~"%"}}{%endif%}</td>
                                            {% else %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                            {% endif %}
                                </tr>
                                <tr>
                                    <td></td>
                                            {% if articleTH.getAbattement() !=NULL %}
                                    <td>{% if nbpersonnesacharge <= 2 and (articleTH.getAbattement().getAbattementpersonneschargecommunnal()!=NULL or articleTH.getAbattement().getAbattementpersonneschargecommunnal()!=0) %}{{articleTH.getAbattement().getAbattementpersonneschargecommunnal() ~" €"}}{%endif%}</td>
                                    <td>{% if nbpersonnesacharge <= 2 and (articleTH.getAbattement().getAbattementpersonneschargesyndicatstse()!=NULL or articleTH.getAbattement().getAbattementpersonneschargesyndicatstse()!=0) %}{{articleTH.getAbattement().getAbattementpersonneschargesyndicatstse()~" €"}}{%endif%}</td>
                                    <td>{% if nbpersonnesacharge <= 2 and (articleTH.getAbattement().getAbattementpersonneschargeintercommunalite()!=NULL or articleTH.getAbattement().getAbattementpersonneschargeintercommunalite()!=0) %}{{articleTH.getAbattement().getAbattementpersonneschargeintercommunalite()~" €"}}{%endif%}</td>
                                    <td>{% if nbpersonnesacharge <= 2 and (articleTH.getAbattement().getAbattementpersonneschargesyndicatstse()!=NULL or articleTH.getAbattement().getAbattementpersonneschargesyndicatstse()!=0) %}{{articleTH.getAbattement().getAbattementpersonneschargesyndicatstse()~" €"}}{%endif%}</td>
                                            {% else %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                            {% endif %}
                                </tr>
                                <tr>    
                                    <td>-Par rang 3 ou + pour personne(s)</td>
                                            {% if articleTH.getAbattement() !=NULL %}
                                    <td>{% if (valeurlocativemoyenneCommune != 0 and articleTH.getAbattement().getAbattementpersonneschargecommunnal()!=0)or(valeurlocativemoyenneCommune != NULL and articleTH.getAbattement().getAbattementpersonneschargecommunnal()!=NULL) %}{{(articleTH.getAbattement().getAbattementpersonneschargecommunnal()*100/valeurlocativemoyenneCommune)|number_format(0)~"%"}}{%endif%}</td> 
                                    <td>{% if (valeurlocativemoyenneSyndicats != 0 and articleTH.getAbattement().getAbattementpersonneschargesyndicatstse()!=0)or(valeurlocativemoyenneSyndicats != NULL and articleTH.getAbattement().getAbattementpersonneschargesyndicatstse()!=NULL) %}{{(articleTH.getAbattement().getAbattementpersonneschargesyndicatstse()*100/valeurlocativemoyenneSyndicats)|number_format(0)~"%"}}{%endif%}</td>
                                    <td>{% if (valeurlocativemoyenneInterCommunalite != 0 and articleTH.getAbattement().getAbattementpersonneschargeintercommunalite()!=0)or(valeurlocativemoyenneInterCommunalite != NULL and articleTH.getAbattement().getAbattementpersonneschargeintercommunalite()!=NULL) %}{{(articleTH.getAbattement().getAbattementspecialbaseintercommunalite()*100/valeurlocativemoyenneInterCommunalite)|number_format(0)~"%"}}{%endif%}</td>
                                    <td>{% if (valeurlocativemoyenneTse != 0 and articleTH.getAbattement().getAbattementpersonneschargesyndicatstse()!=0)or(valeurlocativemoyenneTse != NULL and articleTH.getAbattement().getAbattementpersonneschargesyndicatstse()!=NULL) %}{{(articleTH.getAbattement().getAbattementpersonneschargesyndicatstse()*100/valeurlocativemoyenneTse)|number_format(0)~"%"}}{%endif%}</td>
                                            {% else %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                            {% endif %}
                                </tr>
                                <tr>
                                    <td></td>
                                            {% if articleTH.getAbattement() !=NULL %}
                                    <td>{% if nbpersonnesacharge >=3 and (articleTH.getAbattement().getAbattementpersonneschargecommunnal()!=NULL or articleTH.getAbattement().getAbattementpersonneschargecommunnal()!=0) %}{{articleTH.getAbattement().getAbattementpersonneschargecommunnal() ~" €"}}{%endif%}</td>
                                    <td></td>
                                    <td>{% if nbpersonnesacharge >=3 and (articleTH.getAbattement().getAbattementpersonneschargeintercommunalite()!=NULL or articleTH.getAbattement().getAbattementpersonneschargeintercommunalite()!=0) %}{{articleTH.getAbattement().getAbattementpersonneschargeintercommunalite()~" €"}}{%endif%}</td>
                                    <td>{% if nbpersonnesacharge >=3 and (articleTH.getAbattement().getAbattementpersonneschargesyndicatstse()!=NULL or articleTH.getAbattement().getAbattementpersonneschargesyndicatstse()!=0) %}{{articleTH.getAbattement().getAbattementpersonneschargesyndicatstse()~" €"}}{%endif%}</td>                                                        
                                            {% else %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                            {% endif %}
                                </tr>

                                <tr>
                                    <td>Spécial à la base</td>
                                            {% if articleTH.getAbattement() !=NULL %}
                                    <td>{% if (valeurlocativemoyenneCommune != 0 and articleTH.getAbattement().getAbattementspecialbasecommunal()!=0)or(valeurlocativemoyenneCommune != NULL and articleTH.getAbattement().getAbattementspecialbasecommunal()!=NULL) %}{{(articleTH.getAbattement().getAbattementspecialbasecommunal()*100/valeurlocativemoyenneCommune)|number_format(0)~"%"}}{%endif%}</td>
                                    <td>{% if (valeurlocativemoyenneSyndicats != 0 and articleTH.getAbattement().getAbattementspecialbasesyndicatstse()!=0)or(valeurlocativemoyenneSyndicats != NULL and articleTH.getAbattement().getAbattementspecialbasesyndicatstse()!=NULL) %}{{(articleTH.getAbattement().getAbattementspecialbasesyndicatstse()*100/valeurlocativemoyenneSyndicats)|number_format(0)~"%"}}{%endif%}</td>
                                    <td>{% if (valeurlocativemoyenneInterCommunalite != 0 and articleTH.getAbattement().getAbattementspecialbaseintercommunalite()!=0)or(valeurlocativemoyenneInterCommunalite != NULL and articleTH.getAbattement().getAbattementspecialbaseintercommunalite()!=NULL) %}{{(articleTH.getAbattement().getAbattementspecialbaseintercommunalite()*100/valeurlocativemoyenneInterCommunalite)|number_format(0)~"%"}}{%endif%}</td>  
                                    <td>{% if (valeurlocativemoyenneTse != 0 and articleTH.getAbattement().getAbattementspecialbasesyndicatstse()!=0)or(valeurlocativemoyenneTse != NULL and articleTH.getAbattement().getAbattementspecialbasesyndicatstse()!=NULL) %}{{(articleTH.getAbattement().getAbattementspecialbasesyndicatstse()*100/valeurlocativemoyenneTse)|number_format(0)~"%"}}{%endif%}</td>
                                            {% else %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                            {% endif %}
                                </tr>           
                                <tr>
                                    <td></td>
                                            {% if articleTH.getAbattement() !=NULL %}                                    
                                    <td>{% if(articleTH.getAbattement().getAbattementspecialbasecommunal()!=0 )or (articleTH.getAbattement().getAbattementspecialbasecommunal()!=NULL) %}{{articleTH.getAbattement().getAbattementspecialbasecommunal()}} €{% endif %}</td> 
                                    <td>{% if(articleTH.getAbattement().getAbattementspecialbasesyndicatstse()!=0 )or (articleTH.getAbattement().getAbattementspecialbasesyndicatstse()!=NULL) %}{{articleTH.getAbattement().getAbattementspecialbasesyndicatstse()}} €{% endif %}</td>
                                    <td>{% if(articleTH.getAbattement().getAbattementspecialbaseintercommunalite()!=0 )or (articleTH.getAbattement().getAbattementspecialbaseintercommunalite()!=NULL) %}{{articleTH.getAbattement().getAbattementspecialbaseintercommunalite()}} €{% endif %}</td>
                                    <td>{% if(articleTH.getAbattement().getAbattementspecialbasesyndicatstse()!=0 )or (articleTH.getAbattement().getAbattementspecialbasesyndicatstse()!=NULL) %}{{articleTH.getAbattement().getAbattementspecialbasesyndicatstse()}} €{% endif %}</td>                                                     
                                            {% else %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                            {% endif %}
                                </tr>
                                <tr>
                                    <td>Spécial handicapé</td>
                                            {% if articleTH.getAbattement() !=NULL %}
                                    <td>{% if (valeurlocativemoyenneCommune != 0 and articleTH.getAbattement().getAbattementspecialhandicapecommunal()!=0)or(valeurlocativemoyenneCommune != NULL and articleTH.getAbattement().getAbattementspecialhandicapecommunal()!=NULL) %}{{(articleTH.getAbattement().getAbattementspecialhandicapecommunal()*100/valeurlocativemoyenneCommune)|number_format(0)~"%"}}{%endif%}</td>
                                    <td>{% if (valeurlocativemoyenneSyndicats != 0 and articleTH.getAbattement().getAbattementspecialhandicapesyndicatstse()!=0)or(valeurlocativemoyenneSyndicats != NULL and articleTH.getAbattement().getAbattementspecialhandicapesyndicatstse()!=NULL) %}{{(articleTH.getAbattement().getAbattementspecialhandicapesyndicatstse()*100/valeurlocativemoyenneSyndicats)|number_format(0)~"%"}}{%endif%}</td>
                                    <td>{% if (valeurlocativemoyenneInterCommunalite != 0 and articleTH.getAbattement().getAbattementspecialhandicapeintercommunalite()!=0)or(valeurlocativemoyenneInterCommunalite != NULL and articleTH.getAbattement().getAbattementspecialhandicapeintercommunalite()!=NULL) %}{{(articleTH.getAbattement().getAbattementspecialhandicapeintercommunalite()*100/valeurlocativemoyenneInterCommunalite)|number_format(0)~"%"}}{%endif%}</td>
                                    <td>{% if (valeurlocativemoyenneTse != 0 and articleTH.getAbattement().getAbattementspecialhandicapesyndicatstse()!=0)or(valeurlocativemoyenneTse != NULL and articleTH.getAbattement().getAbattementspecialhandicapesyndicatstse()!=NULL) %}{{(articleTH.getAbattement().getAbattementspecialhandicapesyndicatstse()*100/valeurlocativemoyenneTse)|number_format(0)~"%"}}{%endif%}</td>
                                            {% else %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                            {% endif %}
                                </tr>
                                <tr>
                                    <td></td>
                                            {% if articleTH.getAbattement() !=NULL %}
                                    <td>{% if(articleTH.getAbattement().getAbattementspecialhandicapecommunal()!=0 )or (articleTH.getAbattement().getAbattementspecialhandicapecommunal()!=NULL) %}{{articleTH.getAbattement().getAbattementspecialhandicapecommunal()}} €{% endif %}</td> 
                                    <td>{% if(articleTH.getAbattement().getAbattementspecialhandicapesyndicatstse()!=0 )or (articleTH.getAbattement().getAbattementspecialhandicapesyndicatstse()!=NULL) %}{{articleTH.getAbattement().getAbattementspecialhandicapesyndicatstse()}} €{% endif %}</td>
                                    <td>{% if(articleTH.getAbattement().getAbattementspecialhandicapeintercommunalite()!=0 )or (articleTH.getAbattement().getAbattementspecialhandicapeintercommunalite()!=NULL) %}{{articleTH.getAbattement().getAbattementspecialhandicapeintercommunalite()}} €{% endif %}</td>       
                                    <td>{% if(articleTH.getAbattement().getAbattementspecialhandicapesyndicatstse()!=0 )or (articleTH.getAbattement().getAbattementspecialhandicapesyndicatstse()!=NULL) %}{{articleTH.getAbattement().getAbattementspecialhandicapesyndicatstse()}} €{% endif %}</td>
                                            {% else %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                            {% endif %}
                                </tr>                       
                                <tr>
                                    <td>Base nette d'imposition {{articleTH.getFichier().getAnneeTaxation()}}</td>
                                    <td>{% if basenettecommunale!=NULL or basenettecommunale!=0 %}{{basenettecommunale}} €{% endif %}</td>
                                    <td>{% if basenettesyndicats!=NULL or basenettesyndicats!=0 %}{{basenettesyndicats}} €{% endif %}</td>
                                    <td>{% if basenetteintercommunalite!=NULL or basenetteintercommunalite!=0 %}{{basenetteintercommunalite}} €{% endif %}</td>
                                    <td>{% if basenettetse!=NULL or basenettetse!=0 %}{{basenettetse}} €{% endif %}</td>
                                </tr>
                                <tr>
                                    <td>Taux d'imposition {{articleTH.getFichier().getAnneeTaxation()}}</td>
                                    <td>{% if tauximpositioncommune!=NULL or tauximpositioncommune!=0 %}{{tauximpositioncommune}} %{% endif %}</td>
                                    <td>{% if tauximpositionsyndicat!=NULL or tauximpositionsyndicat!=0 %}{{tauximpositionsyndicat}} %{% endif %}</td>
                                    <td>{% if tauximpositionintercommunalite!=NULL or tauximpositionintercommunalite!=0 %}{{tauximpositionintercommunalite}} %{% endif %}</td>
                                    <td>{% if tauximpositionse!=NULL or tauximpositionse!=0 %}{{tauximpositionse}} %{% endif %}</td>
                                </tr>
                                <tr>
                                    <td>Cotisations {{articleTH.getFichier().getAnneeTaxation()}}</td>
                                    <td>{% if cotisationcommunale!=NULL or cotisationcommunale!=0 %}{{cotisationcommunale}} €{% endif %}</td>
                                    <td>{% if cotisationsyndicats!=NULL or cotisationsyndicats!=0 %}{{cotisationsyndicats}} €{% endif %}</td>
                                    <td>{% if cotisationintercommunalite!=NULL or cotisationintercommunalite!=0 %}{{cotisationintercommunalite}} €{% endif %}</td>
                                    <td>{% if cotisationtse!=NULL or cotisationtse!=0 %}{{cotisationtse}} €{% endif %}</td>
                                    <td>Total des cotisations</td>
                                    <td {% if totalcotisations==(cotisationcommunale+cotisationsyndicats+cotisationintercommunalite+cotisationtse) %}class="text-success"{% else %}class="text-error"{% endif %}>
                        {% if totalcotisations!=NULL %}{{totalcotisations}} €{% endif %}
                                    </td>
                                </tr>   
                                <tr>
                                    <td>
                                        <ul class="nav nav-list">
                                            <li>Taux d'imposition {{articleTH.getFichier().getAnneeTaxation()-1}}</li>
                                            <li>Cotisations {{articleTH.getFichier().getAnneeTaxation()-1}}</li>
                                        </ul>
                                    </td>
                                    <td><ul class="nav nav-list">
                                            <li>{% if tauximpositioncommuneanneeprecedente!=NULL or tauximpositioncommuneanneeprecedente!=0 %}{{tauximpositioncommuneanneeprecedente}} %{% endif %}</li>
                                            <li>{% if cotisationcommuneanneeprecedente!=NULL or cotisationcommuneanneeprecedente!=0 %}{{cotisationcommuneanneeprecedente}} €{% endif %}</li>
                                        </ul></td><td><ul class="nav nav-list">
                                            <li>{% if tauximpositionsyndicatanneeprecedente!=NULL or tauximpositionsyndicatanneeprecedente!=0 %}{{tauximpositionsyndicatanneeprecedente}} %{% endif %}</li>
                                            <li>{% if cotisationsyndicatanneeprecedente!=NULL or cotisationsyndicatanneeprecedente!=0 %}{{cotisationsyndicatanneeprecedente}} €{% endif %}</li>
                                        </ul></td><td><ul class="nav nav-list">
                                            <li>{% if tauximpositionintercommunaliteanneeprecedente!=NULL or tauximpositionintercommunaliteanneeprecedente!=0 %}{{tauximpositionintercommunaliteanneeprecedente}} %{% endif %}</li>
                                            <li>{% if cotisationintercommunaliteanneeprecedente!=NULL or cotisationintercommunaliteanneeprecedente!=0 %}{{cotisationintercommunaliteanneeprecedente}} €{% endif %}</li>
                                        </ul></td><td><ul class="nav nav-list">
                                            <li>{% if tauximpositionseanneeprecedente!=NULL or tauximpositionseanneeprecedente!=0 %}{{tauximpositionseanneeprecedente}} %{% endif %}</li>
                                            <li>{% if cotisationseanneeprecedente!=NULL or cotisationseanneeprecedente!=0 %}{{cotisationseanneeprecedente}} €{% endif %}</li>
                                        </ul></td>
                                    <td ROWSPAN="7" ><ul class="nav nav-list">
                                            <li>Frais de gestion</li>
                                            <li>Prélèvement pour base élevée</li>
                                            <li>Prélèvement sur résidences secondaires</li>
                                            <li>Plafonnement selon le revenu</li>
                                        </ul>
                                    </td><td ROWSPAN="7"><ul class="nav nav-list">
                                            <li>{% if fraisdegestion!=NULL or fraisdegestion==0 %}{{"+ "~ fraisdegestion ~ " €"}}{% endif %}</li>
                                            <li>{% if prelevementpourbaseelevee!=NULL or prelevementpourbaseelevee==0 %}{{"+ "~ prelevementpourbaseelevee ~ " €"}}{% endif %}</li>
                                            <li>{% if prelevementsurresidencessecondaires!=NULL or prelevementsurresidencessecondaires==0 %}{{"+ "~ prelevementsurresidencessecondaires ~ " €"}}{% endif %}</li>
                                            <li>{% if plafonnementselonlerevenu!=NULL or plafonnementselonlerevenu==0 %}{{"- "~ plafonnementselonlerevenu ~ " €"}}{% endif %}</li>
                                        </ul></td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="nav nav-list">
                                            <li>Variation en valeur</li>
                                            <li>Variation en pourcentage</li>
                                        </ul>
                                    </td>
                                    <td><ul class="nav nav-list">
                                            <li>{% if cotisationcommuneanneeprecedente!=NULL or cotisationcommuneanneeprecedente!=0 %}{{cotisationcommunale-cotisationcommuneanneeprecedente}}{% endif %}</li>
                                            <li>{% if (cotisationcommunale!=NULL or cotisationcommunale!=0) and (cotisationcommuneanneeprecedente!=NULL or cotisationcommuneanneeprecedente!=0) %}{{(((cotisationcommunale-cotisationcommuneanneeprecedente)/cotisationcommunale)*100)|number_format(2)~"%"}}{% endif %}</li>
                                        </ul></td><td><ul class="nav nav-list">
                                            <li>{% if cotisationsyndicatanneeprecedente!=NULL or cotisationsyndicatanneeprecedente!=0 %}{{cotisationsyndicats-cotisationsyndicatanneeprecedente}}{% endif %}</li>
                                            <li>{% if (cotisationsyndicats!=0 or cotisationsyndicats!=NULL) and (cotisationsyndicatanneeprecedente!=NULL or cotisationsyndicatanneeprecedente!=0) %}{{(((cotisationsyndicats-cotisationsyndicatanneeprecedente)/cotisationsyndicats)*100)|number_format(2)~"%"}}{% endif %}</li>
                                        </ul></td><td><ul class="nav nav-list">
                                            <li>{% if cotisationintercommunaliteanneeprecedente!=NULL or cotisationintercommunaliteanneeprecedente!=0 %}{{cotisationintercommunalite-cotisationintercommunaliteanneeprecedente}}{% endif %}</li>
                                            <li>{% if (cotisationintercommunalite!=0 or cotisationintercommunalite!=NULL) and (cotisationintercommunaliteanneeprecedente!=NULL or cotisationintercommunaliteanneeprecedente!=0) %}{{(((cotisationintercommunalite-cotisationintercommunaliteanneeprecedente)/cotisationintercommunalite)*100)|number_format(2)~"%"}}{% endif %}</li>
                                        </ul></td><td><ul class="nav nav-list">
                                            <li>{% if cotisationseanneeprecedente!=NULL or cotisationseanneeprecedente!=0 %}{{cotisationtse-cotisationseanneeprecedente}}{% endif %}</li>
                                            <li>{% if (cotisationtse!=0 or cotisationtse!=NULL) and (cotisationseanneeprecedente!=NULL or cotisationseanneeprecedente!=0) %}{{(((cotisationtse-cotisationseanneeprecedente)/cotisationtse)*100)|number_format(2)~"%"}}{% endif %}</li>
                                        </ul></td>

                                </tr>
                                <tr>
                                    <td>Abattements de référence 2003/{{articleTH.getFichier().getAnneeTaxation()}}</td><td>Commune</td><td>Syndicat</td><td>Intercommunalité</td><td>TSE</td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="nav nav-list">
                                            <li>Général à la base</li>
                                            <li>Par personne(s) à charge (rang 1 ou 2)</li>
                                            <li>Par personne(s) à charge (rang 3 ou +)</li>
                                            <li>Spécial à la base</li>
                                        </ul>
                                    </td>
                                    <td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td colspan="5">EVOLUTION DES IMPOSITIONS ENTRE {{articleTH.getFichier().getAnneeTaxation()-1}} ET {{articleTH.getFichier().getAnneeTaxation()}}</td>
                                </tr>
                                <tr>
                                    <td></td><td>ANNEE {{articleTH.getFichier().getAnneeTaxation()-1}}</td><td>ANNEE {{articleTH.getFichier().getAnneeTaxation()}}</td><td>En valeur</td><td>En pourcentage</td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="nav nav-list">
                                            <li>(a)Cotisations</li>
                                            <li>(b)Allégements</li>
                                            <li>(c) = (a)-(b) Somme à payer</li>
                                        </ul>
                                    </td>
                                    <td><ul class="nav nav-list">
                                            <li>{{montantimpotanneeprecedente}}</li>
                                            <li>{{plafonnementselonlerevenuanneeprecedente}}</li>
                                            <li>{{montantimpotanneeprecedente-plafonnementselonlerevenuanneeprecedente}}</li>

                                    </td><td><ul class="nav nav-list">
                                            <li>{{montantimpot}}</li>
                                            <li>{{plafonnementselonlerevenu}}</li>
                                            <li>{{montantimpot-plafonnementselonlerevenu}}</li>
                                        </ul></td>
                                    <td><ul class="nav nav-list">
                                            <li>{{montantimpot-montantimpotanneeprecedente}}</li>
                                            <li>{{plafonnementselonlerevenu-plafonnementselonlerevenuanneeprecedente}}</li>
                                            <li>{{montantimpot-montantimpotanneeprecedente-plafonnementselonlerevenu-plafonnementselonlerevenuanneeprecedente}}</li>
                                        </ul>
                                    </td>
                                    <td><ul class="nav nav-list">
                                            <li>{% if montantimpot!=NULL or montantimpot!=0 %}{{(((montantimpot-montantimpotanneeprecedente)/montantimpot)*100)|number_format(2)~"%"}}{% endif %}</li>
                                            <li>{% if plafonnementselonlerevenu!=NULL or plafonnementselonlerevenu!=0 %}{{(((plafonnementselonlerevenu-plafonnementselonlerevenuanneeprecedente)/plafonnementselonlerevenu)*100)|number_format(2)~"%"}}
                            {% else %}{{"0%"}}{% endif %}</li>
                                            <li>{% if montantimpot!=NULL or montantimpot!=0 %}{{(((montantimpot-montantimpotanneeprecedente)/montantimpot)*100)|number_format(2)~"%"}}{% endif %}</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5">LOCAUX TAXES : NOMBRE  REGIME</td>
                                    <td ROWSPAN="2">Montant de votre impôt</td>
                                    <td rowspan="2" {% if montantimpot==(totalcotisations+fraisdegestion+prelevementpourbaseelevee+prelevementsurresidencessecondaires) %}class="text-success"{% else %}class="text-error"{% endif %}>
                        {{montantimpot}} €
                                    </td>
                                </tr>
                                <tr><td rowspan="2"><ul class="nav nav-list"><li>Taux global 2000 corrigé</li><li>Cotisation référence 2003</li></ul> </td><td>Identifiant</td><td>Nature</td><td>DF  AFF</td><td>VL revalorisée</td></tr>
                                <tr><td></td><td></td><td></td>
                                    <td></td><td>Montant de votre impôt net</td>
                                    <td {% if montantimpotnet==(montantimpot-plafonnementselonlerevenu) or 12>(montantimpotnet+(montantimpot-plafonnementselonlerevenu)) %}class="text-success"{% else %}class="text-error"{% endif %}>
                        {{montantimpotnet}} €
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                    <div id="taxefronciere" class="tab-pane" >
                        <h3>TAXE FONCIERE</h3>
                                {% if articleTF!=NULL %}
                        <table class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th>Propriétés bâties</th><th>Commune</th><th>Syndicat de communes</th><th>Intercommunalité</th><th>Département</th>
                                    <th>Taxe spéciale d'équipement</th><th>Taxe ordures ménagères</th><th>Total des cotisations</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Taux {{articleTF.getFichier().getAnneeTaxation()-1}}</td>
                                    <td>{% if TFarticleCommuneIFPanneeprecedente != NULL %}{{TFarticleCommuneIFPanneeprecedente.getTXBC()|number_format(2,',','.')~"%"}}{% endif %}</td>
                                    <td>{% if TFarticleCommuneIFPanneeprecedente != NULL %}{{TFarticleCommuneIFPanneeprecedente.getTXBS()|number_format(2,',','.')~"%"}}{% endif %}</td>
                                    <td>{% if TFarticleCommuneIFPanneeprecedente != NULL %}{{TFarticleCommuneIFPanneeprecedente.getTXBIC()|number_format(2,',','.')~"%"}}{% endif %}</td>
                                    <td></td>
                                    <td>{% if TFarticleCommuneIFPanneeprecedente != NULL %}{{TFarticleCommuneIFPanneeprecedente.getTXBTSEF()|number_format(3,',','.')~"%"}}{% endif %}</td>
                                    <td>{% if TFarticleCommuneIFPanneeprecedente != NULL %}{{TFarticleCommuneIFPanneeprecedente.getTXBTOMP()|number_format(2,',','.')~"%"}}{% endif %}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Taux {{articleTF.getFichier().getAnneeTaxation()}}</td>
                                    <td>{{TFarticleCommuneIFP.getTXBC()|number_format(2,',','.')~"%"}}</td>
                                    <td>{{TFarticleCommuneIFP.getTXBS()|number_format(2,',','.')~"%"}}</td>
                                    <td>{{TFarticleCommuneIFP.getTXBIC()|number_format(2,',','.')~"%"}}</td>
                                    <td></td>
                                    <td>{{TFarticleCommuneIFP.getTXBTSEF()|number_format(3,',','.')~"%"}}</td>
                                    <td>{{TFarticleCommuneIFP.getTXBTOMP()|number_format(2,',','.')~"%"}}</td>
                                    <td></td>
                                </tr>
                                        {% for article in articleTF.getTfarticletaxationbatis() %}
                                <tr>
                                    <td>Adresse</td>
                                    <td>{{article.getCodeVoie()~ " "~article.getNumeroImmeuble()~ " "~article.getBtq()~ " "~article.getLibVoie()}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Base</td>
                                    <td>{{article.getBaseC()|number_format(0, ',', ' ')}}</td>
                                    <td>{{article.getBaseS()|number_format(0, ',', ' ')}}</td>
                                    <td>{{article.getBaseIC()|number_format(0, ',', ' ')}}</td>
                                    <td>{{article.getBaseD()|number_format(0, ',', ' ')}}</td>
                                    <td>{{article.getBaseTSE()|number_format(0, ',', ' ')}}</td>
                                    <td>{{article.getBaseOM()|number_format(0, ',', ' ')}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Cotisation</td>
                                    <td>{{article.getCotisationC()|number_format(0, ',', ' ')}}</td>
                                    <td>{{article.getCotisationS()|number_format(0, ',', ' ')}}</td>
                                    <td>{{article.getCotisationIC()|number_format(0, ',', ' ')}}</td>
                                    <td>{{article.getCotisationD()|number_format(0, ',', ' ')}}</td>
                                    <td>{{article.getCotisationTSEetTSEGP()|number_format(0, ',', ' ')}}</td>
                                    <td>{{article.getCotisationOM()|number_format(0, ',', ' ')}}</td>
                                    <td>{{article.getTotalCotisationBatiesHorsFrais()|number_format(0, ',', ' ')}} €</td>
                                </tr>
                                        {% endfor %}
                                <tr>
                                    <td>Cotisations</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>{{articleTF.getFichier().getAnneeTaxation()-1}}</td>
                                    <td>{% if cotisationproprietesbatiesAnneePrecedente != NULL %}{{cotisationproprietesbatiesAnneePrecedente['cotisationC']|number_format(0, ',', ' ')}}{% endif %}</td>
                                    <td>{% if cotisationproprietesbatiesAnneePrecedente != NULL %}{{cotisationproprietesbatiesAnneePrecedente['cotisationS']|number_format(0, ',', ' ')}}{% endif %}</td>
                                    <td>{% if cotisationproprietesbatiesAnneePrecedente != NULL %}{{cotisationproprietesbatiesAnneePrecedente['cotisationIC']|number_format(0, ',', ' ')}}{% endif %}</td>
                                    <td>{% if cotisationproprietesbatiesAnneePrecedente != NULL %}{{cotisationproprietesbatiesAnneePrecedente['cotisationD']|number_format(0, ',', ' ')}}{% endif %}</td>
                                    <td>{% if cotisationproprietesbatiesAnneePrecedente != NULL %}{{cotisationproprietesbatiesAnneePrecedente['cotisationTSE']|number_format(0, ',', ' ')}}{% endif %}</td>
                                    <td>{% if cotisationproprietesbatiesAnneePrecedente != NULL %}{{cotisationproprietesbatiesAnneePrecedente['cotisationOM']|number_format(0, ',', ' ')}}{% endif %}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>{{articleTF.getFichier().getAnneeTaxation()}}</td>
                                    <td>{{cotisationproprietesbaties['cotisationC']|number_format(0, ',', ' ')}}</td>
                                    <td>{{cotisationproprietesbaties['cotisationS']|number_format(0, ',', ' ')}}</td>
                                    <td>{{cotisationproprietesbaties['cotisationIC']|number_format(0, ',', ' ')}}</td>
                                    <td>{{cotisationproprietesbaties['cotisationD']|number_format(0, ',', ' ')}}</td>
                                    <td>{{cotisationproprietesbaties['cotisationTSE']|number_format(0, ',', ' ')}}</td>
                                    <td>{{cotisationproprietesbaties['cotisationOM']|number_format(0, ',', ' ')}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Variation</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>en %</td>
                                    <td>{% if (cotisationproprietesbatiesAnneePrecedente['cotisationC']!=NULL 
                                            or cotisationproprietesbatiesAnneePrecedente['cotisationC']!=0 )
                                            and ( cotisationproprietesbaties['cotisationC']!= 0 
                                            and cotisationproprietesbaties['cotisationC']!= NULL) %}
                                            {{(((cotisationproprietesbaties['cotisationC']-cotisationproprietesbatiesAnneePrecedente['cotisationC'])
                                             /cotisationproprietesbaties['cotisationC'])*100)|number_format(2)~"%"}}
                                            {% endif %}</td>
                                    <td>{% if (cotisationproprietesbatiesAnneePrecedente['cotisationS']!=NULL 
                                            or cotisationproprietesbatiesAnneePrecedente['cotisationS']!=0 )
                                            and (cotisationproprietesbaties['cotisationS']!= 0  
                                            and cotisationproprietesbaties['cotisationS']!= NULL) %}
                                            {{(((cotisationproprietesbaties['cotisationS']-cotisationproprietesbatiesAnneePrecedente['cotisationS'])
                                             /cotisationproprietesbaties['cotisationS'])*100)|number_format(2)~"%"}}
                                            {% endif %}</td>
                                    <td>{% if (cotisationproprietesbatiesAnneePrecedente['cotisationIC']!=NULL 
                                            or cotisationproprietesbatiesAnneePrecedente['cotisationIC']!=0 )
                                            and ( cotisationproprietesbaties['cotisationIC']!= 0  
                                            and cotisationproprietesbaties['cotisationIC']!= NULL) %}
                                            {{(((cotisationproprietesbaties['cotisationIC']-cotisationproprietesbatiesAnneePrecedente['cotisationIC'])
                                             /cotisationproprietesbaties['cotisationIC'])*100)|number_format(2)~"%"}}
                                            {% endif %}</td>
                                    <td>{% if (cotisationproprietesbatiesAnneePrecedente['cotisationD']!=NULL 
                                            or cotisationproprietesbatiesAnneePrecedente['cotisationD']!=0 ) 
                                            and ( cotisationproprietesbaties['cotisationD']!= 0 
                                            and cotisationproprietesbaties['cotisationD']!= NULL) %}
                                            {{(((cotisationproprietesbaties['cotisationD']-cotisationproprietesbatiesAnneePrecedente['cotisationD'])
                                             /cotisationproprietesbaties['cotisationD'])*100)|number_format(2)~"%"}}
                                            {% endif %}</td>
                                    <td>{% if (cotisationproprietesbatiesAnneePrecedente['cotisationTSE']!=NULL 
                                            or cotisationproprietesbatiesAnneePrecedente['cotisationTSE']!=0)  
                                            and (cotisationproprietesbaties['cotisationTSE']!= 0 
                                            and cotisationproprietesbaties['cotisationTSE']!= NULL) %}
                                            {{(((cotisationproprietesbaties['cotisationTSE']-cotisationproprietesbatiesAnneePrecedente['cotisationTSE'])
                                             /cotisationproprietesbaties['cotisationTSE'])*100)|number_format(2)~"%"}}
                                            {% endif %}</td>
                                    <td>{% if (cotisationproprietesbatiesAnneePrecedente['cotisationOM']!=NULL 
                                            and cotisationproprietesbatiesAnneePrecedente['cotisationOM']!=0)  
                                            and (cotisationproprietesbaties['cotisationOM']!= 0 
                                            and cotisationproprietesbaties['cotisationOM']!= NULL) %}
                                            {{(((cotisationproprietesbaties['cotisationOM']-cotisationproprietesbatiesAnneePrecedente['cotisationOM'])
                                             /cotisationproprietesbaties['cotisationOM'])*100)|number_format(2)~"%"}}
                                            {% endif %}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th>Propriétés non bâties</th><th>Commune</th><th>Syndicat de communes</th><th>Intercommunalité</th><th>Taxe additionnelle</th>
                                    <th>Taxe spéciale d'équipement</th><th>Chambre d'agriculture</th><th>Total des cotisations</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Taux {{articleTF.getFichier().getAnneeTaxation()-1}}</td>
                                    <td>{% if TFarticleCommuneIFPanneeprecedente != NULL %}{{TFarticleCommuneIFPanneeprecedente.getTXNC()|number_format(2,',','.')~"%"}}{% endif %}</td>
                                    <td>{% if TFarticleCommuneIFPanneeprecedente != NULL %}{{TFarticleCommuneIFPanneeprecedente.getTXNS()|number_format(2,',','.')~"%"}}{% endif %}</td>
                                    <td>{% if TFarticleCommuneIFPanneeprecedente != NULL %}{{TFarticleCommuneIFPanneeprecedente.getTXNIC()|number_format(2,',','.')~"%"}}{% endif %}</td>
                                    <td>{% if TFarticleCommuneIFPanneeprecedente != NULL %}{{TFarticleCommuneIFPanneeprecedente.getTXNTATFPNB()|number_format(2,',','.')~"%"}}{% endif %}</td>
                                    <td>{% if TFarticleCommuneIFPanneeprecedente != NULL %}{{TFarticleCommuneIFPanneeprecedente.getTXNTSEF()|number_format(2,',','.')~"%"}}{% endif %}</td>
                                    <td>{% if TFarticleCommuneIFPanneeprecedente != NULL %}{{TFarticleCommuneIFPanneeprecedente.getTXNCAAA()|number_format(2,',','.')~"%"}}{% endif %}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Taux {{articleTF.getFichier().getAnneeTaxation()}}</td>
                                    <td>{{TFarticleCommuneIFP.getTXNC()|number_format(2,',','.')~"%"}}</td>
                                    <td>{{TFarticleCommuneIFP.getTXNS()|number_format(2,',','.')~"%"}}</td>
                                    <td>{{TFarticleCommuneIFP.getTXNIC()|number_format(2,',','.')~"%"}}</td>
                                    <td>{{TFarticleCommuneIFP.getTXNTATFPNB()|number_format(2,',','.')~"%"}}</td>
                                    <td>{{TFarticleCommuneIFP.getTXNTSEF()|number_format(2,',','.')~"%"}}</td>
                                    <td>{{TFarticleCommuneIFP.getTXNCAAA()|number_format(2,',','.')~"%"}}</td>
                                    <td></td>
                                </tr>
                                        {% for articlenonbatis in articleTF.getTfarticletaxationnonbatis() %}
                                <tr>
                                    <td>Bases terres non agricoles</td>
                                    <td>{{articlenonbatis.getBaseC()|number_format(0, ',', ' ')}}</td>
                                    <td></td>
                                    <td>{{articlenonbatis.getBaseIC()|number_format(0, ',', ' ')}}</td>
                                    <td>{{articlenonbatis.getBaseTATFPNB()|number_format(0, ',', ' ')}}</td>
                                    <td>{{articlenonbatis.getBaseTSE()|number_format(0, ',', ' ')}}</td>
                                    <td>{{articlenonbatis.getBaseCA()|number_format(0, ',', ' ')}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Bases terres agricoles</td>
                                    <td>{{articlenonbatis.getBaseImposableTACetSyndicat()|number_format(0, ',', ' ')}}</td>
                                    <td></td>
                                    <td>{{articlenonbatis.getBaseImposableTAIC()|number_format(0, ',', ' ')}}</td>
                                    <td>{{articlenonbatis.getBaseImposableTAChambreAgriculture()|number_format(0, ',', ' ')}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                        {% endfor %}                                        
                                <tr>
                                    <td>Cotisations</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>{{articleTF.getFichier().getAnneeTaxation()-1}}</td>
                                    <td>{% if cotisationproprietesnonbatiesAnneePrecedente != NULL %}{{cotisationproprietesnonbatiesAnneePrecedente['cotisationC']}}{% endif %}</td>
                                    <td>{% if cotisationproprietesnonbatiesAnneePrecedente != NULL %}{{cotisationproprietesnonbatiesAnneePrecedente['cotisationS']}}{% endif %}</td>
                                    <td>{% if cotisationproprietesnonbatiesAnneePrecedente != NULL %}{{cotisationproprietesnonbatiesAnneePrecedente['cotisationIC']}}{% endif %}</td>
                                    <td>{% if cotisationproprietesnonbatiesAnneePrecedente != NULL %}{{cotisationproprietesnonbatiesAnneePrecedente['cotisationTATFPNB']}}{% endif %}</td>
                                    <td>{% if cotisationproprietesnonbatiesAnneePrecedente != NULL %}{{cotisationproprietesnonbatiesAnneePrecedente['cotisationTSE']}}{% endif %}</td>
                                    <td>{% if cotisationproprietesnonbatiesAnneePrecedente != NULL %}{{cotisationproprietesnonbatiesAnneePrecedente['cotisationCA']}}{% endif %}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>{{articleTF.getFichier().getAnneeTaxation()}}</td>
                                    <td>{{cotisationproprietesnonbaties['cotisationC']|number_format(0, ',', ' ')}}</td>
                                    <td>{{cotisationproprietesnonbaties['cotisationS']|number_format(0, ',', ' ')}}</td>
                                    <td>{{cotisationproprietesnonbaties['cotisationIC']|number_format(0, ',', ' ')}}</td>
                                    <td>{{cotisationproprietesnonbaties['cotisationTATFPNB']|number_format(0, ',', ' ')}}</td>
                                    <td>{{cotisationproprietesnonbaties['cotisationTSE']|number_format(0, ',', ' ')}}</td>
                                    <td>{{cotisationproprietesnonbaties['cotisationCA']|number_format(0, ',', ' ')}}</td>
                                    <td>{{cotisationproprietesnonbaties['total']|number_format(0, ',', ' ')}} €</td>
                                </tr>
                                <tr>
                                    <td>Variation</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>en %</td>
                                    <td>{% if (cotisationproprietesnonbatiesAnneePrecedente['cotisationC']!=NULL 
                                            or cotisationproprietesnonbatiesAnneePrecedente['cotisationC']!=0) 
                                            and (cotisationproprietesnonbaties['cotisationC']!=NULL 
                                            or cotisationproprietesnonbaties['cotisationC']!=0) %}
                                            {{(((cotisationproprietesnonbaties['cotisationC']-cotisationproprietesnonbatiesAnneePrecedente['cotisationC'])
                                             /cotisationproprietesnonbaties['cotisationC'])*100)|number_format(2)~"%"}}
                                            {% endif %}</td>
                                    <td>{% if (cotisationproprietesnonbatiesAnneePrecedente['cotisationS']!=NULL 
                                            or cotisationproprietesnonbatiesAnneePrecedente['cotisationS']!=0) 
                                            and (cotisationproprietesnonbaties['cotisationS']!=NULL 
                                            or cotisationproprietesnonbaties['cotisationS']!=0) %}
                                            {{(((cotisationproprietesnonbaties['cotisationS']-cotisationproprietesnonbatiesAnneePrecedente['cotisationS'])
                                             /cotisationproprietesnonbaties['cotisationS'])*100)|number_format(2)~"%"}}
                                            {% endif %}</td>
                                    <td>{% if (cotisationproprietesnonbatiesAnneePrecedente['cotisationIC']!=NULL 
                                            or cotisationproprietesnonbatiesAnneePrecedente['cotisationIC']!=0)
                                            and (cotisationproprietesnonbaties['cotisationIC']!=NULL 
                                            or cotisationproprietesnonbaties['cotisationIC']!=0) %}
                                            {{(((cotisationproprietesnonbaties['cotisationIC']-cotisationproprietesnonbatiesAnneePrecedente['cotisationIC'])
                                             /cotisationproprietesnonbaties['cotisationIC'])*100)|number_format(2)~"%"}}
                                            {% endif %}</td>
                                    <td>{% if (cotisationproprietesnonbatiesAnneePrecedente['cotisationTATFPNB']!=NULL 
                                            or cotisationproprietesnonbatiesAnneePrecedente['cotisationTATFPNB']!=0) 
                                            and (cotisationproprietesnonbaties['cotisationTATFPNB']!=NULL 
                                            or cotisationproprietesnonbaties['cotisationTATFPNB']!=0)%}
                                            {{(((cotisationproprietesnonbaties['cotisationTATFPNB']-cotisationproprietesnonbatiesAnneePrecedente['cotisationTATFPNB'])
                                             /cotisationproprietesnonbaties['cotisationTATFPNB'])*100)|number_format(2)~"%"}}
                                            {% endif %}</td>
                                    <td>{% if (cotisationproprietesnonbatiesAnneePrecedente['cotisationTSE']!=NULL 
                                            or cotisationproprietesnonbatiesAnneePrecedente['cotisationTSE']!=0)
                                            and (cotisationproprietesnonbaties['cotisationTSE']!=NULL 
                                            or cotisationproprietesnonbaties['cotisationTSE']!=0) %}
                                            {{(((cotisationproprietesnonbaties['cotisationTSE']-cotisationproprietesnonbatiesAnneePrecedente['cotisationTSE'])
                                             /cotisationproprietesnonbaties['cotisationTSE'])*100)|number_format(2)~"%"}}
                                            {% endif %}</td>
                                    <td>{% if (cotisationproprietesnonbatiesAnneePrecedente['cotisationCA']!=NULL 
                                            or cotisationproprietesnonbatiesAnneePrecedente['cotisationCA']!=0) 
                                            and (cotisationproprietesnonbaties['cotisationCA']!=NULL 
                                            or cotisationproprietesnonbaties['cotisationCA']!=0)%}
                                            {{(((cotisationproprietesnonbaties['cotisationCA']-cotisationproprietesnonbatiesAnneePrecedente['cotisationCA'])
                                             /cotisationproprietesnonbaties['cotisationCA'])*100)|number_format(2)~"%"}}
                                            {% endif %}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th></th><th colspan="3">Dégrèvement jeunes agriculteurs des propriétés non bâties</th><th>Base du forfait forestier</th><th>Majoration base terrains constructibles</th><th>Caisse d'assurance des accidents agricoles</th>
                                    <th>Total des cotisations</th></tr>
                            </thead>
                            <tbody>
                                        {% for articlenonbatis in articleTF.getTfarticletaxationnonbatis() %}
                                <tr>
                                    <td>Base Etat</td>
                                    <td>{{articlenonbatis.getBaseJAEC()|number_format(0, ',', ' ')}}</td>
                                    <td>{{articlenonbatis.getBaseJAES()|number_format(0, ',', ' ')}}</td>
                                    <td>{{articlenonbatis.getBaseJAEIC()|number_format(0, ',', ' ')}}</td>
                                    <td>{{articlenonbatis.getBFF()|number_format(0, ',', ' ')}}</td>
                                    <td>{{articlenonbatis.getBaseTerrainsConstr()|number_format(0, ',', ' ')}}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Base Collectivité</td>
                                    <td>{{articlenonbatis.getBaseJACLS()|number_format(0, ',', ' ')}}</td>
                                    <td>{{articlenonbatis.getBaseJACLS()|number_format(0, ',', ' ')}}</td>
                                    <td>{{articlenonbatis.getBaseJACLIC()|number_format(0, ',', ' ')}}</td>
                                    <td>{{articlenonbatis.getBFF()|number_format(0, ',', ' ')}}</td>
                                    <td>{{articlenonbatis.getBaseTerrainsConstr()|number_format(0, ',', ' ')}}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Frais de gestion de la fiscalité directe locale</td>
                                    <td>{{articleTF.getFraisDeFDL()|number_format(0, ',', ' ')}} €</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Dégrèvement "Habitation principale"</td>
                                    <td>0 €</td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Dégrèvement JA "Etat"</td>
                                    <td>{{articlenonbatis.getCotisationJAEtat()|number_format(0, ',', ' ')}} €</td>
                                </tr>    
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Dégrèvement JA "Collectivités"</td>
                                    <td>{{articlenonbatis.getCotisationJACL()|number_format(0, ',', ' ')}} €</td>
                                </tr>

                                        {% endfor %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Montant de votre impôt :</td>
                                    <td>{{articleTF.getSommeAPayer()|number_format(0, ',', ' ')}} €</td>
                                </tr>
                            </tbody>
                        </table>
                                {% endif %}            
                    </div>
                </div>
            </div>
        </div>
    </div>            
</div>
{% endblock %}

{% block footer %}

    {{ parent() }}
{% endblock %}
